/*figma template - https://www.figma.com/file/sZ5B0pU90GzVSltnlgnbpp/Free-Portfolio-Website-UI-(Community)?node-id=1%3A2&t=IHilmWtwhrlMae1l-1*/
body {
  background-color: black;
}

/*Header*/
.header {
  height: 120px;
  margin: 0 auto 60px auto;
  width: 85%;

  display: flex;
  align-items: end;
  flex-flow: row wrap;
  justify-content: space-between;
}
.logo a {
  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
}
.menu {
  margin: 0;
  padding: 0;
  width: 40vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
}
.menu a {
  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
}

/*Home*/
.home {
  /*min-height: 900px;*/
  max-width: 100%;
  margin-bottom: 180px;

  display: grid;
  grid-template-columns: 36% 14% 2% 16% 32%;
  grid-template-rows: 17.2% 20.7% 24.2% 17.2% 20.7%;
}
.home p {
  max-width: 45vw;
  grid-column: 1/4;
  grid-row: 1/2;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin-left: 110px;

  color: #ffffff;
}
.home #home-image1 {
  grid-column-end: 6;
  grid-row: 1/4;

  background-image: url("../images/main_image1.jpg");
  background-position: top left;
  background-size: cover;
}
.home #home-image2 {
  grid-column: 1/2;
  grid-row: 3/6;

  background-image: url("../images/main_image2.jpg");
  background-position: top right;
  background-size: cover;
}
.home #bigheader {
  grid-column: 1/6;
  grid-row: 2/5;
  max-width: 100%;
}
.home h1 {
  margin: 0;

  font-family: "Playfair Display", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22vw;
  text-align: center;

  color: #ffffff;
}
.home h2 {
  margin-top: -7%;

  font-family: "Playfair Display", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21vw;
  text-align: center;

  color: #ffffff;
}
.home button {
  grid-column: 3/5;
  grid-row: 5/6;
  align-self: center;

  width: 100%;
  height: 35%;

  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;

  color: #000000;
}

/*Header h3*/
h3 {
  margin: 0;
  text-align: center;
  font-family: "Playfair Display", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: max(40px, 7vw);

  color: #ffffff;
}

/*Portfolio*/
.portfolio {
  width: 80%;
  min-height: 3000px;
  margin: 0 auto 360px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6% 22% 12% 30% 8% 22%;
  grid-template-areas:
    "header header"
    "image1 image2"
    "image1 image4"
    "image3 image4"
    "image5 image4"
    "image5 image6";
  gap: 50px;
}
.portfolio h3 {
  grid-area: header;
  align-self: end;
}
.portfolio #portfolio-image1 {
  grid-area: image1;
  height: 100%;
  width: 100%;
}
.portfolio #portfolio-image2 {
  grid-area: image2;
  height: 100%;
  width: 100%;
}
.portfolio #portfolio-image3 {
  grid-area: image3;
  height: 100%;
  width: 100%;
}
.portfolio #portfolio-image4 {
  grid-area: image4;
  height: 100%;
  width: 100%;
}
.portfolio #portfolio-image5 {
  grid-area: image5;
  height: 100%;
  width: 100%;
}
.portfolio #portfolio-image6 {
  grid-area: image6;
  height: 100%;
  width: 100%;
}

/*About*/
.about {
  width: 85%;
  margin: 0 auto 300px auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 18% 1fr;
  grid-template-areas:
    "header header"
    "about image";
  gap: 50px;
}
.about h3 {
  grid-area: header;
  align-self: end;
}
.about-text {
  grid-area: about;
  margin: 0;
}
.about #about-p1,
.about #about-p2 {
  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: max(24px, 2.5vw);
  line-height: 3vw;

  color: #ffffff;
}
.about #about-image {
  grid-area: image;

  max-width: 100%;
}

/*Testimonials*/
.testimonials h3 {
  grid-area: header;
  align-self: end;
}
#testimonials-p {
  grid-area: paragraph;
  width: 75%;
  margin: 0;
  align-self: start;
  justify-self: center;

  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

  color: #ffffff;
}
#testimonials-image1,
#testimonials-image2,
#testimonials-image3 {
  max-width: 100%;
}
.testimonial-section h4 {
  margin: 0;
  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 600;

  color: #ffffff;
}
.testimonial-section p {
  max-width: 290px;

  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;

  color: #ffffff;
}
.testimonial-section a {
  text-decoration: none;

  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  text-align: right;

  color: #ffffff;
}

#see-all-reviews {
  grid-area: button;
  width: 220px;
  height: 50%;
  justify-self: center;
  align-self: end;

  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 21.778px;
  line-height: 26px;
  text-align: center;

  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
/*Contact*/
.contact {
  width: 60%;
  margin: 0 auto 30vh auto;
}
.contact label {
  display: inline-block;
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: max(30px, 2.8vw);

  color: #ffffff;
}
.input-area {
  width: 100%;
  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(18px, 1vw, 25px);
  line-height: clamp(18px, 1vw, 30px);

  color: #bbbbbb;

  background-color: #000000;
  border: none;
  border-bottom: 2px solid #ffffff;
  resize: none;
}
input[type="submit"] {
  width: 187.84px;
  height: 72.14px;
  margin-top: 120px;

  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 600;
  font-size: clamp(30px, 2vw, 38.4067px);
  line-height: clamp(38px, 3vw, 46px);

  color: #000000;
  background: #ffffff;
}

/*Footer*/
.footer {
  min-height: 10vh;
}
.footer p {
  font-family: "Inter", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: max(18px, 1.5vw);
  line-height: 1.6vw;

  text-align: center;

  color: #ffffff;
}
.footer ul {
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}
.footer a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: max(18px, 1.5vw);
  line-height: 1.7vw;

  text-decoration: none;
  color: #ffffff;
}
#policy {
  margin-right: 37px;
}

/*Desktop*/
@media (min-width: 1024px) {
  .testimonials {
    width: 76%;
    margin: 0 auto 360px auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10% 15% 30% 30% 15%;
    grid-template-areas:
      "header header"
      "paragraph paragraph"
      "testimonial1 testimonial3"
      "testimonial2 testimonial3"
      "button button";
    gap: 50px;
  }
  #testimonial1 {
    grid-area: testimonial1;

    display: flex;
    align-items: center;
  }

  #testimonial2 {
    grid-area: testimonial2;

    display: flex;
    align-items: center;
  }

  #testimonial3 {
    grid-area: testimonial3;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonial-section {
    background-color: #181818;
    min-height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .testimonial-section3 {
    min-height: 362px;
  }
  .testimonial-section h4 {
    font-size: 44px;
  }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  .menu {
    width: 60vw;
  }
  .home p {
    max-width: 50vw;

    font-size: 20px;
    margin-left: 25px;
  }
  .portfolio {
    min-height: 2000px;
  }
  .testimonials {
    width: 90%;
    margin: 0 auto 360px auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 5% 1fr 1fr 1fr 5%;
    grid-template-areas:
      "header"
      "paragraph"
      "testimonial1"
      "testimonial2"
      "testimonial3"
      "button";
    gap: 50px;
  }
  #testimonial1 {
    grid-area: testimonial1;

    display: flex;
    align-items: center;
  }

  #testimonial2 {
    grid-area: testimonial2;

    display: flex;
    align-items: center;
  }

  #testimonial3 {
    grid-area: testimonial3;

    display: flex;
    align-items: center;
  }

  .testimonial-section {
    background-color: #181818;
    min-height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  .testimonial-section h4 {
    font-size: 44px;
  }
}

/*Mobile*/
@media (max-width: 767px) {
  .menu {
    width: 60vw;
  }
  .menu a {
    font-size: 18px;
  }
  .home {
    margin-bottom: 90px;
  }
  .home p {
    max-width: 50vw;

    font-size: 4vw;
    margin-left: 25px;
  }
  .home #bigheader {
    padding-top: 70px;
  }
  .home button {
    grid-row: 4/6;
    font-size: 4vw;
  }
  .portfolio {
    grid-template-columns: 1fr;
    grid-template-rows: 6% 17% 15% 15% 11% 25% 11%;
    grid-template-areas:
      "header"
      "image1"
      "image3"
      "image5"
      "image2"
      "image4"
      "image6";
  }
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 18% 1fr 1fr;
    grid-template-areas:
      "header"
      "about"
      "image";
  }
  .about #about-p1,
  .about #about-p2 {
    font-size: clamp(18px, 8vw, 34px);
    line-height: clamp(20px, 11vw, 36px);
  }
  .testimonials {
    width: 90%;
    margin: 0 auto 360px auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5% 5% 1fr 1fr 1fr 5%;
    grid-template-areas:
      "header"
      "paragraph"
      "testimonial1"
      "testimonial2"
      "testimonial3"
      "button";
    gap: 50px;
    align-items: end;
  }

  #testimonials-p {
    font-size: 14px;
  }

  #testimonial1 {
    grid-area: testimonial1;

    display: flex;
    align-items: center;
  }

  #testimonial2 {
    grid-area: testimonial2;

    display: flex;
    align-items: center;
  }

  #testimonial3 {
    grid-area: testimonial3;

    display: flex;
    align-items: center;
  }

  .testimonial-section {
    background-color: #181818;

    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
  }
  #testimonial1,
  #testimonial3 {
    flex-direction: column;
  }
  #testimonial2 {
    flex-direction: column-reverse;
  }
  .testimonial-section h4 {
    font-size: 24px;
  }
  .contact {
    width: 75%;
  }
}
